doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title Elena Euphoria
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300")
  link(rel="stylesheet" href="styles.css")
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js" charset="utf-8")
body
  main
    ul.links-list
      li.links-list__item
        a(href="#").social-link
          i.fab.fa-vk.social-link__icon
          span.social-link__text el_euphoria
      li.links-list__item
        a(href="#").social-link
          i.fab.fa-instagram.social-link__icon
          span.social-link__text l_euphoria
      li.links-list__item
        a(href="tel:+79667928686").social-link
          i.fas.fa-phone.social-link__icon
          span.social-link__text +7 (966) 792-86-86
      li.links-list__item.links-list__item--inline
        a(href="sms:+79667928686").social-link.social-link--inline
          i.fas.fa-comment
        a(href="whatsapp://send?abid=+79667928686").social-link.social-link--inline
          i.fab.fa-whatsapp
        a(href="viber://chat?number=+79667928686").social-link.social-link--inline
          i.fab.fa-viber
        a(href="tg://resolve?domain=ElenaEuphoria").social-link.social-link--inline
          i.fab.fa-telegram
          
